cider-history
custom.el
elpa/
*.el~
recentf
bookmarks
auto-save-list
.mc-lists.el
transient
url
ido.last
.projectile-cache
*.eld
eshell
straight/build-cache.el
straight/build
straight/modified
straight/repos
.rgignore
smex-items
.cache
.lsp-session*
init-user.el
emojis/