cider-history
custom.el
elpa/
network-security.data
*.el~
recentf
bookmarks
auto-save-list
.mc-lists.el
transient
url
ido.last
.projectile-cache
*.eld
eshell
straight/build-cache.el
straight/build
straight/modified
straight/repos
.rgignore
plan-the-day.org
smex-items
.cache
.lsp-session*